*, *:before, *:after {
    box-sizing: border-box;
}


:root {
    /* variables */
    --spacing: 24px;
    --min-card-width: 250px;
    --ratio-percent: 75%;
    --addl-height: 100px;
}

body {
    margin: 0;
}

/* just for testing / delete later */
section, div {
    border: 1px solid blue;
    padding: var(--spacing);
}

article {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    position: relative;
}