header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--dark);
}

.nav-item {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

/* .logo class for styled logo ? */

.nav-item li {
    list-style: none;
}

/* change nav-item text color to off-white */

.nav-item a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
