header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--dark);
}

.nav-item {
    display: flex;
    justify-content: space-around;
    width: 30%;
}