:root {
    --font-family: ;
}

.postContainer {
    display: flex;
    flex-direction: column;
}

.singlePost {
    width: 75%;
    border: 3px var(--dark);
    border-radius: 10px;
}

.image {
    background-color: var(--light);
    width:fit-content;
    max-height: 30%;
}

.postHeading {
    color: var(--dark);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.postContent {
    color: var(--black);
    text-align: left;
    font-size: 14px;
}